<!DOCTYPE html>
<html>
<head>
    <title>Homepage UMC</title>
</head>

<body>
    <h1>UMC 2026 - UNP Mathematics Challenge 2026</h1>
    <br>

    <h2>* Mengenal lebih dekat dengan UMC *</h2>

    <p>
        UMC (UNP Mathematics Challenge) merupakan Kompetisi Matematika dalam skala nasional. 
    </p>

    <p>
        Terdiri dari tingkat SD, SMP, SMA, hingga PT.
    </p>
    <br>

    <a href="/daftar">Daftar Disini</a>
</body>

<style>
    h1 {
        color: red;
        font-size: 50px;
        margin-left: 15px;
    }
    
    h2 {
        color: rgb(39, 34, 34);
        font-size: 30px;
        margin-left: 15px;
    }
    
    p {
        margin-left: 15px;
    }
    
    a {
        color: rgb(228, 24, 24);
        border: 2px solid rgb(228, 24, 24);
        margin-left: 15px;
    }

</style>
</html>