<!DOCTYPE html>
<html>
<body>
    <h1>Pendaftaran Berhasil !</h1>

    <p>
        Terima kasih atas partisipasinya di UMC 2026, Data dibawah ini telah terdaftar:
    </p>


    <p>
        Kategori Lomba: {{jenjang}}
    </p>

    <p>
        Asal Sekolah: {{sekolah}}
    </p>

    <p>
        Alamat Sekolah: {{alamat}}
    </p>

    <p>
        Nama Guru Pendamping: {{nama_guru_pendamping}}
    </p>

    <p>
        Email Guru Pendamping: {{email_guru_pendamping}}
    </p>

    <p>
        Nomor Telepon Guru: {{nomor_hp_guru}}
    </p>

    <p>
        Nama Siswa: {{siswa_1}}
    </p>

    <p>
        Email Siswa: {{email_siswa_1}}
    </p>
<style>
    h1 {
        color: red;
    }
</style>
</body>
</html>